.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*custom-css
.page-content{min-height: 780px !important;}
.page-content{max-height: 100% !important;}*/
.page-content{min-height: 780px !important;}
.page-content{max-height: auto !important;}
.ml-1{margin-left: 5px;}
.Langli{width: 100px !important;}
.Langli a{width: 100% !important;}
.Box-shadow{  box-shadow: 0 8px 6px -6px black !important;}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
